*, *::before, *::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-family: sans-serif;
	height: 100vh;
	background-color: dodgerblue;
}

.container {
	position: relative;
	padding: 1em;
	background-color: white;
	min-width: 600px;
	border-radius: 5px;
	box-shadow: 2px 2px 2px rgba(0, 0, 0, .3);
}

.password {
	display: flex;
	justify-content: space-between;
	margin-bottom: 30px;
	background-color: dodgerblue;
	color: white;
	border-radius: 5px;
	box-shadow: 2px 2px 2px rgba(0, 0, 0, .1);
	min-height: 46px;
}

.passwordText {
	font-size: 1.35em;
	padding: .5em 3em .5em .5em;
	background-color: dodgerblue;
	color: white;
	border: none;
	border-radius: 5px;
	pointer-events: none;
	width: 100%;
}

.copy {
	position: absolute;
	width: 30px;
	aspect-ratio: 1;
	top: 25px;
	right: 30px;
	border: none;
	background-color: white;
	color: black;
	border-radius: 5px;
	transition: opacity ease .2s, transform ease .2s;
	transform: translate(0, 10px);
	opacity: 0;
}


.password:hover .copy {
	opacity: 1;
	transform: translate(0, 0);
}

.copy:active {
	background-color: rgb(220, 220, 220);
}

.fa-solid {
	pointer-events: none;
}

.conditions {
	min-width: 100%;
}

.conditions li {
	display: flex;
	justify-content: space-between;
	list-style: none;
	margin-top: 10px;
	font-size: 1.1em;
	padding: 0 1em 0 1em;
}

.conditions input {
	width: 50px;
	height: 15px;
}

#length {
	height: auto;
	padding: 2px 0 2px 5px;
}

.submitBtn {
	border: none;
	background-color: dodgerblue;
	color: white;
	font-size: 1.25em;
	font-weight: bold;
	width: 100%;
	padding: 10px;
	margin-top: 15px;
	border-radius: 5px;
	box-shadow: 2px 2px 2px rgba(0, 0, 0, .1);
}